// set up variables
$padding: 0;
$margin: 0;
$gap: 1rem;
$list-style: none;

// FLEX WRAP - NO WRAP
.flex-container-one {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: $padding;
  margin: $margin;
  gap: $gap;
  list-style: $list-style;
}

// FLEX WRAP - WRAP
.flex-container-two {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: $padding;
  margin: $margin;
  gap: $gap;
  list-style: $list-style;
}

// FLEX WRAP - WRAP REVERSE
.flex-container-three {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  padding: $padding;
  margin: $margin;
  gap: $gap;
  list-style: $list-style;
}

.flex-item {
  background: rgb(66, 57, 235);
  padding: 5px;
  width: 150px;
  height: 150px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.05);
  border-radius: .5rem;
}
