<h3>Flex Wrap: No Wrap</h3>

<p>All flex items will be on the same line</p>

<ul class="flex-container-one">
  <li class="flex-item">1</li>
  <li class="flex-item">2</li>
  <li class="flex-item">3</li>
  <li class="flex-item">4</li>
  <li class="flex-item">5</li>
  <li class="flex-item">6</li>
</ul>

<h3>Flex Wrap: Wrap</h3>

<p>Flex items will wrap onto multiple lines, from top to bottom.</p>

<ul class="flex-container-two">
  <li class="flex-item">1</li>
  <li class="flex-item">2</li>
  <li class="flex-item">3</li>
  <li class="flex-item">4</li>
  <li class="flex-item">5</li>
  <li class="flex-item">6</li>
</ul>

<h3>Flex Wrap: Wrap Reserve</h3>

<p>Flex items will wrap onto multiple lines from bottom to top.</p>

<ul class="flex-container-three">
  <li class="flex-item">1</li>
  <li class="flex-item">2</li>
  <li class="flex-item">3</li>
  <li class="flex-item">4</li>
  <li class="flex-item">5</li>
  <li class="flex-item">6</li>
</ul>
