// set up variables
$padding: 0;
$margin: 0;
$gap: 1rem;
$list-style: none;

// JUSTIFY CONTENT - FLEX START
.flex-container-one {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: $padding;
  margin: $margin;
  gap: $gap;
  list-style: $list-style;
}

// JUSTIFY CONTENT - FLEX END
.flex-container-two {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: $padding;
  margin: $margin;
  gap: $gap;
  list-style: $list-style;
}

// JUSTIFY CONTENT - CENTER
.flex-container-three {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: $padding;
  margin: $margin;
  gap: $gap;
  list-style: $list-style;
}

// JUSTIFY CONTENT - SPACE BETWEEN
.flex-container-four {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $padding;
  margin: $margin;
  gap: $gap;
  list-style: $list-style
}

// JUSTIFY CONTENT - SPACE AROUND
.flex-container-five {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: $padding;
  margin: 0;
  gap: $gap;
  list-style: $list-style;
}

// JUSTIFY CONTENT - SPACE EVENLY
.flex-container-six {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: $padding;
  margin: $margin;
  gap: $gap;
  list-style: $list-style;
}

.flex-item {
  background: dodgerblue;
  padding: 5px;
  width: 150px;
  height: 150px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.05);
  border-radius: .5rem;
}


