<!-- FLEX START -->
<h3>Align Content: Flex Start</h3>

<p>Description</p>

<ul class="flex-container-one">
  <li class="flex-item">1</li>
  <li class="flex-item">2</li>
  <li class="flex-item">3</li>
  <li class="flex-item">4</li>
  <li class="flex-item">5</li>
  <li class="flex-item">6</li>
</ul>

<!-- FLEX END -->
<h3>Align Content: Flex End</h3>

<p>Description</p>

<ul class="flex-container-two">
  <li class="flex-item">1</li>
  <li class="flex-item">2</li>
  <li class="flex-item">3</li>
  <li class="flex-item">4</li>
  <li class="flex-item">5</li>
  <li class="flex-item">6</li>
</ul>

<!-- CENTER -->
<h3>Align Content: Center</h3>

<p>Description</p>

<ul class="flex-container-three">
  <li class="flex-item">1</li>
  <li class="flex-item">2</li>
  <li class="flex-item">3</li>
  <li class="flex-item">4</li>
  <li class="flex-item">5</li>
  <li class="flex-item">6</li>
</ul>

<!-- STRETCH -->
<h3>Align Content: Stretch</h3>

<p>Description</p>

<ul class="flex-container-four">
  <li class="flex-item">1</li>
  <li class="flex-item">2</li>
  <li class="flex-item">3</li>
  <li class="flex-item">4</li>
  <li class="flex-item">5</li>
  <li class="flex-item">6</li>
</ul>

<!-- SPACE BETWEEN -->
<h3>Align Content: Space Between</h3>

<p>Description</p>

<ul class="flex-container-five">
  <li class="flex-item">1</li>
  <li class="flex-item">2</li>
  <li class="flex-item">3</li>
  <li class="flex-item">4</li>
  <li class="flex-item">5</li>
  <li class="flex-item">6</li>
</ul>

<!-- SPACE AROUND -->
<h3>Align Content: Space Around</h3>

<p>Description</p>

<ul class="flex-container-six">
  <li class="flex-item">1</li>
  <li class="flex-item">2</li>
  <li class="flex-item">3</li>
  <li class="flex-item">4</li>
  <li class="flex-item">5</li>
  <li class="flex-item">6</li>
</ul>

