<h3>Flex Direction: Row</h3>

<p>The flex container's main-axis is defined to be the same as the text direction.</p>

<ul class="flex-container-one">
  <li class="flex-item">1</li>
  <li class="flex-item">2</li>
  <li class="flex-item">3</li>
  <li class="flex-item">4</li>
  <li class="flex-item">5</li>
  <li class="flex-item">6</li>
</ul>

<h3>Flex Direction: Row Reverse</h3>

<p>Behaves the same as row but the main-start and main-end points are opposite to the content direction.</p>

<ul class="flex-container-two">
  <li class="flex-item">1</li>
  <li class="flex-item">2</li>
  <li class="flex-item">3</li>
  <li class="flex-item">4</li>
  <li class="flex-item">5</li>
  <li class="flex-item">6</li>
</ul>

<h3>Flex Direction: Column</h3>

<p>The flex container's main-axis is the same as the block-axis.</p>

<ul class="flex-container-three">
  <li class="flex-item">1</li>
  <li class="flex-item">2</li>
  <li class="flex-item">3</li>
  <li class="flex-item">4</li>
  <li class="flex-item">5</li>
  <li class="flex-item">6</li>
</ul>

<h3>Flex Direction: Column Reverse</h3>

<p>Description</p>

<ul class="flex-container-four">
  <li class="flex-item">1</li>
  <li class="flex-item">2</li>
  <li class="flex-item">3</li>
  <li class="flex-item">4</li>
  <li class="flex-item">5</li>
  <li class="flex-item">6</li>
</ul>
