<main role="main">

    <!-- CARD CONTAINER -->
    <section class="card-container">

        <article class="card"> <!-- CARD -->

            <header class="card-header">
                <h2 class="card-title">Card Title</h2>
            </header>

            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl nec tincidunt lacinia, nunc nisl aliquam massa, eget aliquam nunc nisl sed nunc. Sed euismod, nisl nec tincidunt lacinia, nunc nisl aliquam massa, eget aliquam nunc nisl sed nunc.</p>
            </div>

            <footer class="card-footer">
                <button class="card-button">Button</button>
            </footer>

        </article>

        <article class="card"> <!-- CARD -->

          <header class="card-header">
              <h2 class="card-title">Card Title</h2>
          </header>

          <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl nec tincidunt lacinia, nunc nisl aliquam massa, eget aliquam nunc nisl sed nunc. Sed euismod, nisl nec tincidunt lacinia, nunc nisl aliquam massa, eget aliquam nunc nisl sed nunc.</p>
          </div>

          <footer class="card-footer">
              <button class="card-button">Button</button>
          </footer>

      </article>

        <article class="card"> <!-- CARD -->

          <header class="card-header">
              <h2 class="card-title">Card Title</h2>
          </header>

          <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl nec tincidunt lacinia, nunc nisl aliquam massa, eget aliquam nunc nisl sed nunc. Sed euismod, nisl nec tincidunt lacinia, nunc nisl aliquam massa, eget aliquam nunc nisl sed nunc.</p>
          </div>

          <footer class="card-footer">
              <button class="card-button">Button</button>
          </footer>

      </article>

    </section> <!-- END CARD CONTAINER -->

</main>
