<ul class="navigation">
  <li>
    <a href="/flex-direction">Flex Direction</a>
  </li>
  <li>
    <a href="/flex-wrap">Flex Wrap</a>
  </li>
  <li>
    <a href="/justify-content">Justify Content</a>
  </li>
  <li>
    <a href="/align-content">Align Content</a>
  </li>
  <li>
    <a href="/align-items">Align Items</a>
  </li>
  <li>
    <a href="/order">Order Property</a>
  </li>
  <li>
    <a href="/flex-shrink">Flex Basis, Flex Grow, Flex Shrink</a>
  </li>
  <li>
    <a href="/align-self">Align Self</a>
  </li>
  <li>
    <a href="/css-grid">CSS Grid</a>
  </li>
</ul>
