<div class="container">

  <main class="main-content">

    <h2>Main Content</h2>

    <p class="text">Jan. 3, the first day of market trading in 2022, looked like just another day in a stock rally that began when Barack Obama was still president. The S&P 500 hit a record high. Tesla, the company that upturned the auto industry and made many investors rich, rose 13.5 percent and came close to its own all-time peak.</p>

  </main>

  <aside class="side-content">

    <section>

      <p>Side content</p>

    </section>

  </aside>

</div>
