.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  // background: rgb(94, 127, 199);
}

.side-content {
  flex-basis: 40%;
  background: #e3f2fd;
  border-left: 1px #1e88e5 solid;
  text-align: center;
}

.text {
  border: 0.5px lightgray solid;
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

@media all and (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .side-content {
    border-top: 1px #1e88e5 solid;
  }
}
